# Lists in Python

In [1]:
# Q1: Create a list of 5 random numbers and print the list
numbers = [5, 12, 8, 20, 3]
print("Original List:", numbers)

Original List: [5, 12, 8, 20, 3]

In [3]:
# Q2: Insert 3 new values to the list and print the updated list
numbers.extend([15, 25, 30])
print("Updated List:", numbers)

Updated List: [5, 12, 8, 20, 3, 15, 25, 30, 15, 25, 30]

In [4]:
# Q3: Use a for loop to print each element in the list
print("List Elements:")
for num in numbers:
     print(num)

List Elements:
5
12
8
20
3
15
25
30
15
25
30

# Dictionaries in Python

In [9]:
# Q1: Create a dictionary with keys 'name', 'age', 'address'
person = {"Name" : "John", "Age" : 25, "Address" : "New York"}
print ("Original Dictionary:", person)

Original Dictionary: {'Name': 'John', 'Age': 25, 'Address': 'New York'}

In [10]:
# Q2: Add a new key-value pair (phone number)
person ["Phone"] = "1234567890"
print ("Updated Dictionary :", person)

Updated Dictionary : {'Name': 'John', 'Age': 25, 'Address': 'New York', 'Phone': '1234567890'}

# Sets in Python

In [11]:
# Q1: Create a set with values 1, 2, 3, 4, and 5
num_set = {1, 2, 3, 4, 5}
print("Original Set:", num_set)

Original Set: {1, 2, 3, 4, 5}

In [12]:
# Q2: Add the value 6 to the set
num_set.add(6)
print("Set after adding 6:", num_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

In [13]:
# Q3: Remove the value 3 from the set
num_set.discard(3) 
print ("Set after removing 3:",num_set)

Set after removing 3: {1, 2, 4, 5, 6}

# Tuples in Python

In [14]:
# Q1: Create a tuple with values 1, 2, 3, and 4
num_tuple = (1, 2, 3, 4)
print("Tuple:", num_tuple)

Tuple: (1, 2, 3, 4)

In [15]:
# Q2: Print the length of the tuple
print("Length of Tuple:", len(num_tuple))

Length of Tuple: 4